@import "config";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

.removed {
  animation: slideSplash 1s;
}

.fixed {
  position: fixed;
}

@keyframes slideSplash {
  50% {transform: translateX(-5%)}
  100% {transform: translateX(300%)}
}

#splash {
  height: 100vh;
  background: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
  padding:  0 5%;

  a {
    margin-top: 20px;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: $secondary-color;
    color: white;
    transition: background-color 1s, color 1s;
    border-radius: 10px;
  }

  a:hover {
    background-color: white;
    color: $primary-color;
  }
}

nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  width: 100%;
  padding: 0 5%;
  border-bottom: 5px solid $secondary-color;
  font-size: 1.2rem;
  
  
  a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
  }

  a:hover {
    color: $secondary-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 5%;

  img {
    width: 100px;
    height: 100px;
  }

  .contentHeading {
    margin: 100px 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    padding-left: 1rem;
    font-size: 1.6rem;
  }

  #aboutContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    p {
      margin-top: 10%;
      background: $primary-color;
      color: white;
      padding: 20px;
      border-radius: 10px;
    }

    img {
      margin: auto;
    }
  }

  #showcase {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10% auto;
    justify-content: space-around;
    align-items: center;
    
    .showcaseBullet {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 0 5%;
      text-align: center;
      width: 200px;

      p {
        margin: 30px 0;
        background: $primary-color;
        color: white;
        padding: 20px;
        border-radius: 10px;
      }
    }
  }

  #skills {
    
    ul {
      text-align: center;
      list-style-type: none;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  #portfolioContent {
    .project {
      margin: 10% 0;
      background: $primary-color;
      color: white;
      padding: 1rem;
      border-radius: 10px;
      text-align: center;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  #contactContent {
    max-width: 350px;
    width: 100%;

    #form1 {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      #saveForm {
        background: $primary-color;
        color: white;
        align-self: center;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
        -webkit-appearance: none;

        &:hover {
          transform: scale(0.9);
          -webkit-appearance: none;
        }
      }

      #Field105 {
        resize: none;
        height: 10rem;
      }

      .field {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (min-width: 750px) {
  
  .container {

    #aboutContent {
      flex-direction: row;

      p {
        margin: 0 30px;
        max-width: 500px;
      }
    }

    #showcase {
      flex-direction: row;
    }

  } 
}